@tailwind base;
@tailwind components;
@font-face {
  font-family: Neuton;
  src: url(../font/Neuton-Light.ttf) format("truetype");
}
.p {
  font-family: Neuton;
  font-size: 14pt;
  @media (min-width: 900px) {
    font-size: 16pt;
  }
  text-rendering: optimizeLegibility;
  color: #fff;
  text-align: justify;
}
@tailwind utilities;
